<app-description-first-page></app-description-first-page>
<div id="loginForm2">
    <div class="example-button-row">
        <button routerLink="/descriptionFirstPage" mat-mini-fab>X</button>
    </div>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nume utilizator</mat-label>
      <input  matInput>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input  name="passwd" matInput type="password">
      </mat-form-field>
  </form>
  <div class="example-button-row">
    <button mat-mini-fab>Login</button>
</div>
  <p>
      Nu ai cont? Apasa pe butonul de jos
  </p>
  <div class="example-button-row">
    <button routerLink="/loginForm" mat-mini-fab>aici</button>
</div>
</div>