<div>

      <footer class="page-footer font-small blue pt-4 ">
          <div class="container-fluid text-center text-md-left">
        
            <div class="row">
              <div class="col-md-5 mt-md-0 mt-3">
                <h5 class="text-uppercase">You can contact us on:</h5>
                <ul class="d-flex flex-row" style="list-style-type: none;">
                            <!-- Facebook -->
                           <li> <h3><a href="#"><i class='icon-facebook' > </i></a></h3>  </li>
                            <!-- Google +-->
                             <li><h3><a href="#"><i class="icon-google-plus"> </i></a></h3> </li>
                            <!--Github-->
                             <li><h3><a href="#"><i class="icon-github"> </i></a></h3></li>
                            </ul>
              </div>
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <div class="col-md-4 mb-md-0 mb-3">
        
                <h5 class="text-uppercase"> Telephone & email</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <h5><i class="icon-phone"></i> 0765 493 652</h5>
                  </li>
                  <li>
                   <h5> <i class="icon-inbox"></i>nume@yahoo.com</h5>
                  </li>
                </ul>
        
              </div>
              <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Information</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Terms and conditions</a>
                  </li>
                  <li>
                    <a href="#!">Delivery options</a>
                  </li>
                  <li>
                    <a href="#!">Payment methods</a>
                  </li>
                </ul>
              </div>
            </div>
        
          </div>
          <div class="footer-copyright text-center py-3">
            <h5>© 2020 Copyright:Alexandra & Fredi </h5>
          </div>
        
        </footer>
</div>