<app-description-first-page></app-description-first-page>

<div id="loginForm">
    <div class="example-button-row">
        <button routerLink="/descriptionFirstPage" mat-mini-fab>X</button>
    </div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>Company</mat-label>
        <input matInput value="Taraba lu Vasile srl">
        </mat-form-field>
    
        <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput value="Vasile">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Last Name </mat-label>
            <input matInput value="Gheorghe">
        </mat-form-field></td>
        </tr></table>
    
        
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. s">Str Vasile Parvan</textarea>
        </mat-form-field>  
    
        <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput >
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input type="email" matInput placeholder="nume@yahoo.com">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Nume utilizator</mat-label>
            <input matInput>
        </mat-form-field></td>
        </tr></table>
    </form>
</div>
