/*#loginID{
    background-color: green;
    width: 300px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 150px;
}
*/
#cv{
    background-color: green;
    width: 600px;
    height: 400px;
    position: absolute;
    right: 100px;
    top: 150px;

}