<div>
    <nav class="navbar navbar-expand-sm navbar-custom">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <button (click)="back()"class="styleButton"><h3><i class="icon-arrow-left"></i>Back to home page</h3></button>
          </li>
        </ul>
      </nav>
      </div>
      <div class="textPadding">
          <h2>
            Cost and duration of delivery
          </h2>
          <h5>
            The products are delivered in 1-4 working days from the confirmation of the sending of the order from the warehouse. If the products are delivered to you, the couriers will try to deliver them twice. After two unsuccessful attempts, the order will be returned to our shop.
            <p>
              Delivery options:
            </p>
            <ul>
              <li>
                Romanian Post - Delivery in 2-4 days - 10 RON
              </li>
              <li>
                URGENT CARGUS - 15 RON - delivery within 24-48 hours after order confirmation
              </li>
              <li>
                FAN COURIER - 15 RON - delivery within 24-48 hours after order confirmation
              </li>
            </ul>
            <p>
              Delivery fees are fixed and are valid for any locality in Romania. We are not responsible for the possible delays of the packages, being exempted from any fault in this regard through the commercial contracts concluded with the courier service providers Fan Courier, Urgent Cargus, DPD.
            </p>
          </h5>
          <hr>
          <h2>
            Payment methods
          </h2>
          <h5>
            In our shop, you can pay online, by card or refund (for orders delivered to your home).
            <ul>
              <li>
                Refund payment (upon receipt of the package)
                </li>
                <p>Payment of the refund is made in full upon delivery of the order. In case of delivery of the products by the couriers, the payment will be made to the commissioner who makes the delivery.</p>
              <li>
                Payment Card Online - MobilPay
              </li>
                <p>You can pay online with your personal or company card, under complete security conditions. Card payment is a secure method because your card data will not be stored by the processor, they will be secured and encrypted. To make the payment you will enter your card number, expiration date and CVV2 / CVC2 code (the last three digits inscribed on the back band, which also contains your signature).</p>
            </ul>
            <p><span style="color:red">Note!</span> We will never send an email informing you of the modification of our bank account or requesting a transfer.</p>
          </h5>
          <hr>
          <h2>
            Product return
          </h2>
          <h5>
            <ul>
              <li><b>Return policy</b></li>
            If the purchased products are altered, you can return them within 7 calendar days of receiving the package. To register the return, please contact us at 0765 493 652 or by email at nume@yahoo.com. 
            The customer can request the return of the amount of money or change with another product. In both cases, the cash value returned or the product replaced refers strictly to the cost of the products, shipping fees being excluded. Shipping costs will be borne according to Ordinance 34/2014 "The consumer bears only the direct costs related to the return of products". The amount returned to the customer does not include the transport or reimbursement costs, but only the purchase value of the product.
              <br><br>
              <li>
                <b>Return procedure</b>
              </li>
              The products will be returned in the boxes in which they were received, without being altered much more than they were at the reception.In case of replacement with another product, it will be shipped as soon as possible (as long as it is available in stock). We reserve the right to refuse to accept a return in case of repeated returns made by the customer and in case the returned products do not meet the return conditions mentioned above.
              <br><br>
              <li>
                <b>Reimbursement of the value of the product</b>
              </li>
              After receiving the package, the customer will be contacted by a member of the Customer Relations department and will be informed about the refund period. The reimbursement of the value will be made within a maximum of 14 working days of the confirmation of receipt of the return. The value of the product will be returned by bank transfer to your personal account. For payments made with the online card, the value of the returned product will be transferred to the card with which you made the payment. For any details or ambiguities regarding the return of the products, please contact us by email or at one of the telephone numbers displayed on the contact page.
            </ul>
          </h5>
      </div>
      <div > 
        <app-footer></app-footer>  
    </div>
