.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #loginForm2 {
    background-color: #a73962;
    width: 507px;
    height: 275px;
    position: absolute;
    right: 100px;
    top: 150px;
}
.example-button-row button {
    margin-right: 8px;
    border-radius: 10px;
  }