<div id="loginForm2">
    <div class="example-button-row">
        <button (click)="onClose()" mat-mini-fab>X</button>
    </div>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nume utilizator</mat-label>
      <input  autocomplete="off" [(ngModel)]="_loginService.current_username" name="username" matInput>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input autocomplete="off"  [(ngModel)]="_loginService.current_password" name="password" matInput type="password">
      </mat-form-field>
  </form>
  <div class="example-button-row">
    <button (click)="nextRoute()" mat-mini-fab>Login</button>
</div>
  <p>
      Nu ai cont? Apasa pe butonul de jos
  </p>
  <div class="example-button-row">
    <button (click)="onSwitch()" mat-mini-fab>aici</button>
</div>

<p *ngIf="_loginService.notWorkingLogin">
  Nu ai reusit sa le loghezi!
</p>
</div>