<div>
    <nav class="navbar navbar-expand-sm navbar-custom">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <button (click)="back()" class="styleButton"><h3><i class="icon-arrow-left"></i>Back to home page</h3></button>
          </li>
        </ul>
      </nav>
      </div>
      <div class="textPadding">
          <h2>
            I want to buy a product that is not in stock. How do I proceed?
          </h2>
          <h5>
            For more information about product availability, please contact us using the phone number on the site.
          </h5>
          <hr>
          <h2>
            I want to obtain additional information, which is not found on the site. How do I proceed?
          </h2>
          <h5>
            In this case, please contact us using the phones displayed on the site or our facebook adress.
          </h5>
          <hr>
          <h2>
            How much does it cost to deliver the products?
          </h2>
          <h5>
            <li>Romanian Post - Delivery in 2-4 days - 10 RON</li>
            <li>URGENT CARGUS - 15 RON - delivery within 24-48 hours after order confirmation</li>
            <li>FAN COURIER - 15 RON - delivery within 24-48 hours after order confirmation</li>
          </h5>
          <hr>
          <h2>
            Do I need an account to be able to buy?
          </h2>
          <h5>
            To shop on this site and to see the products, you need to create a user account.
          </h5>
          <hr>
          <h2>
            Can I change or cancel the order?
          </h2>
          <h5>
            Cancellation or modification of an order can be made only by telephone, on the phone number 0765 493 652.
          </h5>
          <hr>
          <h2>
            Can I return the ordered products?
          </h2>
          <h5>
            The ordered products can be returned if they are altered. See the 'Delivery options' section for more details.
          </h5>
          <hr>
          <h2>
            I got the wrong billing data. Can the order be re-invoiced?
          </h2>
          <h5>
            If you have the wrong billing data, please contact us within 5 hours of placing your order on the phone number on the site in order to correct the mistake.
          </h5>
          <hr>
          <h2>
            What is the store's schedule and when can I order?
          </h2>
          <h5>
            The store's schedule is from 8:00 to 17:00 from Monday to Friday, but orders can be placed at any time, those past 5 pm will be taken the next day and those on Saturday and Sunday, only on Mondays.
          </h5>
          <hr>
          <h2>
            I received a different product than the one I ordered. What to do?
          </h2>
          <h5>
            If you received a product other than the one ordered, we recommend that you refuse the package upon delivery. If you have accepted the package, please contact us via the phone number available on the site.
          </h5>
      </div>
      <div > 
        <app-footer></app-footer>  
    </div>

