<nav class="navbar navbar-expand-sm navbar-custom">
  <ul><li class="nav-item " style="list-style: none;"><span style="color:blue;font-size: 35px;">Be fresh!</span></li></ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/descriptionFirstPage"><h2 style="color: blue;"><i class="icon-home"></i>Home</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)=invertLoginFormComponent2() type="button"><h2 style="color: blue;"><i class="icon-signin"></i>Login</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)=invertLoginFormComponent() type="button"><h2 style="color: blue;"><i class="icon-plus-sign"></i>Signup</h2></a>
      </li>
    </ul>
  </nav>
  <app-login-form-component2 *ngIf=printLoginFormComponent2 (switch)="switchToLoginFormComponent()" (closeLoginFormComponent2)="closeLoginFormComponent2()"></app-login-form-component2>
  <app-login-form *ngIf=printLoginFormComponent (switch)="switchToLoginFormComponent2()" (closeLoginFormComponent)="closeLoginFormComponent()"></app-login-form>
