<nav class="navbar navbar-expand-sm navbar-custom">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/descriptionFirstPage"><h2><i class="icon-home"></i>Home</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loginForm2"><h2><i class="icon-signin"></i>Login</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loginForm"><h2><i class="icon-plus-sign"></i>Signup</h2></a>
      </li>
    </ul>
  </nav>
